:host {
  width: 100%;
  background: none;
  border: none;
  border-bottom: var(--light-border);
  border-right: var(--light-border);
  padding: 24px 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  cursor: pointer;
}

:host:hover,
:host:focus-visible,
:host.active {
  background: var(--dark-active-color);
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--light-transparent-color);
}
