@if (account$ | async; as account) {
  <header class="account-page-header">
    <app-account-header [account]="account"/>
    
    @if (isMyPage()) {
      <a class="btn to-settings-btn" routerLink="/settings">
        <span>Редактировать</span>
        <svg icon="settings" class="header-settings-icon"></svg>
      </a>
    }
  </header>

  <main class="account-page-body">
    <app-posts-feed/>
    <div>
      <h3 class="h3">Подписчики</h3>
      <div class="subscribers-wrapper">
        @if(subscribers$ | async; as subscribers) {
          @for(subscriber of subscribers; track subscriber.id) {
            <a [routerLink]="['/account', subscriber.id]">
              <img class="subscriber-avatar-btn" [src]="subscriber.avatarUrl | imgUrl" [alt]="subscriber.firstName">
            </a>
          }
        }
        <a class="to-subscribers-search-btn" routerLink="/search"></a>
      </div>

      <h3 class="h3">Навыки</h3>
      <div class="skill-tags-wrapper">
        @for (skill of account.stack; track skill) {
          <div class="skill-tag">{{skill}}</div>
        }
      </div>

      <h3 class="h3">О себе</h3>
      <p class="about-text">{{account.description}}</p>

    </div>
  
  </main>

}