:host {
  display: block;
  background-color: var(--message-color);
  padding: 16px 16px 22px 16px;
  width: max-content;
  max-height: fit-content;
  max-width: 400px;
  border-radius: 2px;
  position: relative;

  &.is-mine {
    justify-self: right;
  }
  // mask: linear-gradient(#000 0 0), linear-gradient(-228deg, #000 47%, rgba(0, 0, 0, 0) 0) border-box 100% 108% / 21% 205% no-repeat;
  // mask-composite: exclude;
  // mask-position: 0% 116%;
  // mask-composite: exclude;
  // mask-position: 0% 114%;
}

.message-body {
  font-size: 13px;
  font-weight: 400;
  color: var(--light-color);
  white-space: pre-line;
}

.message-controls {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 60%;
}

:host.is-mine {
  background-color: var(--primary-color);
  // mask: linear-gradient(#000 0 0), linear-gradient(-140deg, #000 47%, rgba(0, 0, 0, 0) 0) border-box 100% 100% / 200% 200% no-repeat;
  // mask-composite: exclude;
  // mask-position: 10% 94%;
}

.is-read-icon {
  height: 8px;
  color: white;
  margin-left: 4px;
}
