<app-chats-messages-header class="header" [chat]="chatVM"/>

<div class="messages-container">
  <div class="date-groups">
  @for (messagesDateGroup of chatVM.messages; track messagesDateGroup.date) {

    <app-chats-messages-date-group [messagesDateGroup]="messagesDateGroup"/>
  }
</div>
</div>

<!-- <div class="messages-container">
  @for(message of chat.messages; track message.id) {
    <app-chats-messages-message [message]="message" />
  }  
</div> -->

<div class="footer messages-input">
  <app-chats-message-input [avatarUrl]="chatVM.userSecond.avatarUrl" (sendMessage)="onSendMessage($event)"/>
</div>
