<div class="profile-card">
 
  <div class="avatar-name">
    <img class="avatar-name__avatar" src="/assets/images/liza-avatar.png" alt="" >
    <div class="avatar-name__name">
      <strong class="h6">Константин Петров</strong>
      <small class="subtitle">konstantinpetrov</small>
    </div>
  </div>

  <div class="profile-card-description">
    Текс о человеке. Кто такой, чем хорош, чем занимается. Здесь только важная и полезная. Лишнее писать не нужно, главное заинтересовать.
  </div>

  <div class="profile-card__tags">
    <span class="skill-tag">Angular</span>
    <span class="skill-tag">HTML</span>
    <span class="skill-tag">CSS</span>
  </div>
  <div class="profile-card__action-buttons">

    <button class="btn">Подписаться</button>
  </div>

</div>
