:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  column-gap: 12px;
}

// .comment-body {
//   display: flex;
//   flex-direction: column;
//   gap: 6px;
// }

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.comment-header {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-transparent-color)
}