@if (post(); as post) {
  <div class="post-header">
    <app-avatar-circle [avatarSrc]="post.author.avatarUrl" class="size32" />
    <div class="author-name">
      <strong>{{post.author.firstName}} {{post.author.lastName}}  </strong>
      <!-- <span class="post-date">{{post.createdAt | date: 'h:mm d MMM y'}}</span> -->
      <span class="post-date">{{post.createdAt | customDate}}</span>
    </div>
    <button class="three-dots-button">
      <svg icon="three-dots" class="size16"></svg>
    </button>
  </div>
  
  <p class="post-text medium-text">{{post.content}}</p>

  <div class="post-counters">
    <span class="comments-counter">
      <svg icon="comment" class="size16"></svg>
      <span class="commonts-amount">{{post.comments.length}}</span>
    </span>
  </div>

  <div class="comments-container">
    <ng-container *ngIf="comments() as comments">
      <!-- <app-comment *ngFor="let comment of comments" [comment]="comment"/>  -->
      
      <!-- Показать два комментария -->
      <ng-container *ngIf="!expandComments">
        <app-comment *ngFor="let comment of comments | slice:0:2" [comment]="comment"/>
      </ng-container>

      <!-- Показать все комментарии -->
      <ng-container *ngIf="expandComments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"/>
      </ng-container>
      
      <!-- Кнопку "Показать все комментарии" скрыть, если развернул комменты -->
      <button 
        *ngIf="!expandComments && comments.length > 2"
        class="btn-show-more-comments" 
        (click)="showMoreComments()"
      >
        Показать все комментарии
    </button>   
    </ng-container>
  </div>

  <app-post-input [postId]="post.id" [isCommentInput]="true" (commentCreated)="onCommentCreated()"/>
}


