@import "fonts";

:root {
  --dark-color: #0b0b0b;
  --light-color: #ececec;
  --primary-color: #ae7aff;

}

body {
  font-family: "JetBrainsMono", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn {
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--dark-color);
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: 700;
  line-height: 24px;
  font-family: "JetBrainsMono", sans-serif;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-weight: 300;
  opacity: 80%;
}